@import "./src/assets/styles/template/variables/_variables.scss";
.footer-container {
    width: 100%;
    margin: 200px 0 0 0;
    background: $color-3;
    position: relative;
    align-items: center;

     &__header {
        padding: 0 50px;
        @media (min-width: $lg-devices) {
            margin-right: auto;
        }
        h2 {
            font-family: $play-fair;
            font-size: 24px;
            color: $color-2;
            @media (min-width: $lg-devices) {
                font-size: 48px;
            }
        }
        hr {
            background: $color-2;
            width: 5vw;
            height: 2px;
            margin: 30px auto;
            @media (min-width: $lg-devices) {
                margin-left: 0;
            }
        }
     }
     
     &__body {
        background: white;
        width: 100%;
        max-width: 440px;
        position: relative;
        top: -140px;
        text-align: center;
        padding: 30px 0;
        @media (min-width: $lg-devices) {
            font-size: 96px;
            top: -90px;
            width: 100%;
            max-width: 1170px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 30px;
        }
     }

     &__block {
         margin-bottom: 30px;
         font-family: $source-sans;
         padding: 0 50px;
         &:nth-child(even) {
             border-right: 1px solid #d0deda;
             border-left: 1px solid #d0deda;
         }
         &:nth-child(odd) {
            margin-right: auto;
         }
         hr {
            background: $color-2;
            width: 10px;
            height: 2px;
            margin: 10px auto;
            @media (min-width: $lg-devices) {
                margin-left: 0;
            }
         }
         p {
             font-size: 12px;
             color: $color-4;
             &:first-child {
                 color: $color-2;
                 font-weight: bold;
                 letter-spacing: 1px;
             }
             @media (min-width: $lg-devices) {
                 font-size: 16px;
                 text-align: left;
             }
         }
     }

     &__end {
         position: relative;
         top: -100px;
         align-items: center;
         @media (min-width: $lg-devices) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1170px;
            top: -50px;
        }
         img {
            width: 175px;
            height: 60px;
            margin-bottom: 20px;
         }
         a {
             color: white;
         }
     }
}