@import "./src/assets/styles/template/variables/_variables.scss";
.text-container {
    width: 100%;
    margin: -80px auto 50px auto;
    text-align: justify;

    @media (min-width: $lg-devices) {
        width: 1170px;
    }

    .container-header {
        background: transparent;
        padding: 0;
        text-align: left;
        top: 0;
    }

    
    &--centered {
        .container-header {
            background: transparent;
            padding: 0;
            text-align: center;
            top: 0;
            hr {
                margin: 20px auto;
            }
            p {
                color: black;
                width: 100%;
                max-width: 750px;
                margin: 0 auto;
            }
        }
    }

    h2 {
        font-size: 48px;
        font-family: $play-fair;
        color: $color-2;
    }
    hr {
        width: 100px;
        height: 2px;
        background: $color-2;
        margin: 20px 0;
    }
    &__left-txt {
        width: 100%;
        max-width: 800px;
        margin-right: auto;
        margin-bottom: 30px;
        font-family: $source-sans;
        font-size: 18px;
        @media (min-width: $lg-devices) {
            margin-bottom: 0;
            width: 100%;
            max-width: 680px;
            margin-right: 100px;
        }
    }
    &__right-txt {
        font-size: 14px;
        font-family: $source-sans;
        font-weight: bold;
        p {
            margin-bottom: 10px;
            &:before {
                content: "\2713";
                color: $color-2;
                margin-right: 10px;
            }
        }
    }
}