body {
  background: #f5f5f5;
}
h1,
h2 {
  font-family: PlayFairDisplay;
}
.container-header {
  h1,
  h2 {
    font-family: PlayFairDisplayBold;
  }
}
.header-carousel-main-title {
  font-family: PlayFairDisplay;
}
.custom-dropdown-title {
  h2 {
    font-family: PlayFairDisplayBold;
  }
}
p,
a,
span {
  font-family: SourceSansPro;
  &.footer-menu-title {
    font-family: PlayFairDisplayBold;
  }
}
.ejm-info-container {
  background: url("~@/assets/images/hu-bg.jpg");
  background-size: cover;
  h2 {
    font-size: 32px;
    @media (min-width: 992px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
}
.connect {
  margin: 20px auto 50px auto;
  padding-top: 30px;
  @media (min-width: 992px) {
    margin: 55px auto 95px auto;
    padding-top: 40px;
  }
  .connect-paragraph {
    width: fit-content;
    .lefted {
      width: 100%;
      @media (min-width: 992px) {
        width: 350px;
        margin-right: 50px !important;
        margin-bottom: 0;
      }
    }
  }
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-top-30 {
  margin-top: 30px;
}
.advantages-minus {
  position: relative;
  margin-top: -140px;
}
#jbk {
  .centered {
    align-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      align-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
  }
  img {
    width: 570px;
    max-width: 100%;
    height: auto;
  }
}
.header-navigation {
  .carousel-block {
    &.one {
      background-image: url("~@/assets/images/header-bg.jpg");
    }
  }
}
.spec-margin {
  margin: 40px auto 50px auto !important;
  @media (min-width: 992px) {
    margin: 120px auto 200px auto !important;
  }
}
.egyutt-spec-margin {
  margin: 0 auto 100px auto !important;
  @media (min-width: 992px) {
    margin: 30px auto 130px auto !important;
  }
}
.hide-br-mobile {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.font-size-20 {
  font-size: 20px !important;
}
.mobile-margin-bottom {
  margin-bottom: 40px !important;
}
.dropdown-main-title {
  font-size: 17px;
  color: #aa8960;
  text-transform: uppercase;
  font-family: SourceSansPro;
  font-weight: 700;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
}
.egyuttmokodo-paragraph {
  width: 100% !important;
  max-width: 570px !important;
}
.fejlesztesigenyszerint-paragraph {
  width: 100% !important;
  max-width: 470px !important;
}
.modul-link {
  color: #aa885f;
}
.svg-hover {
  transition: 0.24s ease-in-out;
  &:hover path:first-child {
    fill: #06354d;
  }
}
.custom-dropdown-block {
  .custom-dropdown-content-container {
    padding: 30px !important;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: 1200px) {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
  }
  .main-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 70px 0;
  }
}
.centered {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.justify-centered {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.sm-column {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.md-column {
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column !important;
  }
}
.lg-column {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    &.lg-column-centered {
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}
#app.jbk {
  .container-outerbox {
    background: #80001a;
    padding-bottom: 70px;
  }
}
.container-outerbox {
  width: 100%;
  margin: 150px 0 50px 0;
  position: relative;
  .infobox {
    top: -145px;
    @media (min-width: 992px) {
      top: -175px;
    }
  }
}
.control--left:before {
  background-image: url("~@/assets/images/carousel-left.png") !important;
}
.control--right:before {
  background-image: url("~@/assets/images/carousel-right.png");
}
.form-field {
  &.hide {
    display: none;
  }
}

.form-send-success {
  height: 100px;
  color: #155724;
  background: #d4edda;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  display: none;
  width: 100%;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-family: PlayFairDisplayBold;
    font-size: 22px;
  }

  p {
    font-family: SourceSansPro;
    font-size: 18px;
  }

  &.active {
    display: flex;
  }
}

button {
  &.hide {
    display: none;
  }
}

.grecaptcha-badge {
  z-index: 1000000;
}

#references {
  background: #80001A;
  padding-top: 50px;
  .carousel-wrapper {
    padding: 20px 0 50px 0;
  }
}