//MAIN-COLORS
$color-1: #ffffff;
$color-2: #aa8960;
$color-3: #8c0722;
$color-4: #141414;

//FONT-SIZES
$sm-font-size: 14px;
$md-font-size: 28px;
$lg-font-size: 80px;

$header-main-title: $lg-font-size;
$header-paragraph: $md-font-size;

$infobox-paragraph-size: 18px;
$infobox-title-size: 24px;

//FONT-FAMILYS
$play-fair: PlayFairDisplay;
$source-sans: SourceSansPro;

//MEDIA QUERY BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

